@model IEnumerable<BookWebApp.Models.BookData>
@{
    
}

<div class="container mt-5">
    <form class="form-inline d-inline-flex w-100">
        <input class="form-control" type="search" placeholder="Найдите то, что вам нужно" aria-label="Search">
        <button class="btn btn-info" type="submit">Поиск</button>
    </form>
</div>

<div class="mt-5">
    @foreach(var book in Model)
    {
        <div class="d-inline-flex w-100 border-bottom border-1 mb-4">
            <div class="">
                <img src="@book.Book.Image">
            </div>
            <div class="p-5 d-flex flex-column pt-2">
                <div>
                    <p class="text-primary">@book.Book.Title | @book.Book.Rating/10</p>
                </div>
                <div>
                    <p>@book.Book.Author</p>
                </div>
                <div class="d-flex flex-row">
                    @* <div class="m-1">●</div> *@
                    @foreach(var c in book.CategoryValues){
                        <div class="m-1 ml-0"><button class="btn btn-secondary btn-sm" style="background: #ddd">@c</button></div>
                    }
                </div>
                <div>
                    <p>@book.Book.Price рублей</p>
                </div>
                <div>
                    <button class="btn btn-success small">
                        В корзину
                    </button>
                </div>
            </div>
        </div>
    }
</div>