@model IEnumerable<BookWebApp.Models.BookData>
@{
    
}

<div class="container mt-5">
    <form class="form-inline d-inline-flex w-100">
        <input class="form-control" type="search" placeholder="Найдите то, что вам нужно" aria-label="Search">
        <button class="btn btn-info" type="submit">Поиск</button>
    </form>
</div>

<div class="mt-5">
    @foreach(var book in Model)
    {
        <div class="d-inline-flex w-100 border-secondary border-1">
            <div>
                <img href="@book.Image" w-100>
            </div>
            <div>
                <div>
                    <p>@book.Title</p>
                </div>
                <div>
                    <p>@book.Author | @book.ReleaseYear</p>
                </div>
                <div>
                    <p>@book.Rating/10</p>
                </div>
                <div>
                    <p>@book.Price рублей</p>
                </div>
                <div>
                    <button class="btn btn-success">
                        В корзину
                    </button>
                </div>
            </div>
        </div>
    }
</div>