@model IEnumerable<BookWebApp.Models.Book>
@{
    
}

<div class="container mt-5">
    <form class="form-inline d-inline-flex w-100">
        <input class="form-control" type="search" placeholder="Найдите то, что вам нужно" aria-label="Search">
        <button class="btn btn-info" type="submit">Поиск</button>
    </form>
</div>

<div class="mt-5">
    @foreach(var book in Model)
    {
        <div class="d-inline-flex w-100 border-bottom border-1 mb-4">
            <div class="">
                <img src="@book.Image">
            </div>
            <div class="p-5 d-flex flex-column">
                <div>
                    <p class="text-primary">@book.Title</p>
                </div>
                <div>
                    <p>@book.Author | @book.Rating/10</p>
                </div>
                <div>
                    <!-- foreach(var c in Model) -->
                </div>
                <div>
                    <p>@book.Price рублей</p>
                </div>
                <div>
                    <button class="btn btn-success small">
                        В корзину
                    </button>
                </div>
            </div>
        </div>
    }
</div>